body {
    margin: 0;
    padding: 0;
}
.section1 {
    height: 130px;
    background-color: #fff;
}
.section2 {
height: 900px;
   background-color: #F8F8F8;
}

.mainP {
    text-align: center;
        font-size: 40px;
        font-weight: 700;
}
       