 @media (max-width:1149px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 90px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }

 @media (max-width:999px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 90px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }

 @media (max-width:949px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 85px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }

 @media (max-width:899px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 75px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }

 @media (max-width:849px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 80px !important;
         font-weight: bolder;
         color: #FEECE9;
     }
 }

 @media (max-width:799px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 75px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }

 @media (max-width:767px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 65px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }

 @media (max-width:652px) {
     .h1Online {
         position: relative;
         top: 20%;
         text-align: center;
         font-size: 60px !important;
         font-weight: bolder;
         color: #FEECE9;
     }

 }
 .h1Online {
     position: relative;
     top: 40%;
     text-align: center;
     font-size: 80px;
     font-weight: bolder;
     color: #FEECE9;
 }
 .titleStyle {
    text-align: center;
            font-size: 25px;
            font-weight: bolder;
            margin-Top: 2rem;

 }
 .infoStyle {
    text-align: center;

 }
  .infoStyle2 {
      text-align: center;
      margin: 0;

  }
 .timeStyle {
    text-align: center;
    font-weight: bold;

 }
 .time2Style {
    text-align: center;
    font-weight: 300;
 }
 .Map {
    margin-top: 40px;
    text-align: center;
 }
 .WhatToExpect{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
 }