
@media (max-width:1399px) {
    .sectionOneButtonDiv {
            position: absolute;
            left: 23% !important;
    }
        .sectionOneButtonClass {
            width: 200px !important;
            height: 50px !important;
            background: white;
            font-size: 23px !important;
            padding: 0;
           margin: 0%;
            cursor: pointer;
            border-radius: 20px;
            border: none;
            opacity: 0.7;
            font-weight: bolder;
            text-align: center;
        }
}
@media (max-width:1349px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 22% !important;
    }

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:1299px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 21% !important;
    }

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:1249px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 19% !important;
    }

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:1199px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 18% !important;
    }

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:1149px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 17% !important;
    }

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:1099px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 15% !important;
    }

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:1049px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 13% !important;
    }
    

    .sectionOneButtonClass {
        width: 200px !important;
        height: 50px !important;
        background: white;
        font-size: 23px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}

@media (max-width:999px) {
    .sectionOneButtonDiv {
        position: absolute;
        left:15% !important;
    }

    .sectionOneButtonClass {
        width: 150px !important;
        height: 50px !important;
        background: white;
        font-size: 20px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:899px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 12% !important;
    }

    .sectionOneButtonClass {
        width: 150px !important;
        height: 50px !important;
        background: white;
        font-size: 20px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:799px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 10% !important;
    }

    .sectionOneButtonClass {
        width: 130px !important;
        height: 50px !important;
        background: white;
        font-size: 18px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:767px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 8% !important;
    }

    .sectionOneButtonClass {
        width: 130px !important;
        height: 50px !important;
        background: white;
        font-size: 18px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:716px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 8% !important;
    }

    .sectionOneButtonClass {
        width: 110px !important;
        height: 45px !important;
        background: white;
        font-size: 14px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:673px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 5% !important;
    }

    .sectionOneButtonClass {
        width: 110px !important;
        height: 45px !important;
        background: white;
        font-size: 14px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}
@media (max-width:652px) {
    .sectionOneButtonDiv {
        position: absolute;
        left: 4% !important;
    }

    .sectionOneButtonClass {
        width: 110px !important;
        height: 45px !important;
        background: white;
        font-size: 14px !important;
        padding: 0;
        margin: 0%;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        opacity: 0.7;
        font-weight: bolder;
        text-align: center;
    }
}


.sectionOneButtonDiv{
    position: absolute;
    left: 25%;
   padding: 0;
}
.sectionOneButtonClass{
width: 200px;
height: 50px;
    background:white;
    font-size: 23px;
    margin: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    opacity: 0.7;
    font-weight: bolder;
    text-align: center;
}
.sectionOneButtonClass:hover {
    background-color: #FEECE9 ;
    opacity: 1;

}

