 @media (max-width:1149px){
    .h1Style {
            position: relative;
            top: 20%;
            text-align: center;
            font-size: 90px !important;
            font-weight: bolder;
            color: #FEECE9;
        }

 }
 
 @media (max-width:999px) {
    .h1Style {
            position: relative;
            top: 20%;
            text-align: center;
            font-size: 90px !important;
            font-weight: bolder;
            color: #FEECE9;
        }

     }
@media (max-width:949px) {
    .h1Style {
        position: relative;
        top: 20%;
        text-align: center;
        font-size: 85px !important;
        font-weight: bolder;
        color: #FEECE9;
    }

}
@media (max-width:899px) {
    .h1Style {
        position: relative;
        top: 20%;
        text-align: center;
        font-size: 75px !important;
        font-weight: bolder;
        color: #FEECE9;
    }

}
 
  @media (max-width:849px) {
      .h1Style {
          position: relative;
          top: 20%;
          text-align: center;
          font-size: 80px !important;
          font-weight: bolder;
          color: #FEECE9;
      }
  }
  @media (max-width:799px) {
      .h1Style {
          position: relative;
          top: 20%;
          text-align: center;
          font-size: 75px !important;
          font-weight: bolder;
          color: #FEECE9;
      }

  }
  @media (max-width:767px) {
        .h1Style {
                position: relative;
                top: 20%;
                text-align: center;
                font-size: 65px !important;
                font-weight: bolder;
                color: #FEECE9;
            }

  }
@media (max-width:652px) {
    .h1Style {
            position: relative;
            top: 20%;
            text-align: center;
            font-size: 60px !important;
            font-weight: bolder;
            color: #FEECE9;
        }

}




 
 .h1Style{
    position: relative;
        top: 20%;
       text-align: center;
        font-size: 100px;
        font-weight: bolder;
        color: #FEECE9;
}
