.mainStyleNextComponents{
font-size: 50px;
font-weight:900;
text-align: center;
margin-top: 20px;
}
.SecondStyleNextComponents{
    text-align: center;
    margin: 0;
}
.ThirdStyleNextComponents{
    text-align: center;
        margin: 20px;
}

.buttonNext {
    color: black;
    font-weight: bold;
    border-color: white;
    border: 3px solid;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    width: 170px;
    font-size: 15px;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}
