.Title {
    text-align: center;
    font-size:40px;
    font-weight: bolder;
    margin-top: 0.5rem;
     
}

.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.image {
border-radius: 5px;
width: 320px;
height: 195px;
margin: 0;
}
button {
    font-weight: bold;
    border-color: black;
    border: 3px solid;
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    width: 150px;
    font-size: 18px;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;

}
